<br /><br />
<section class="uk-section-normal uk-section-blog" style="padding-bottom: 0;">
    <div class="uk-container uk-container-small">
        <div data-uk-grid>
            <div class="content-area uk-width-expand">
                <article class="single post">
                    <div class="entry-post">
                        <div class="entry-cats tw-meta">
                            <p>{{ page.type }}</p>
                        </div>
                        <!-- <h2 class="entry-title post-title">
                            <a href="#">{{ page.title }}</a>
                        </h2> -->
                        <div class="heading-title-article post-title">
                            <h2 class="title">{{ page.title }}</h2>
                        </div>
                        <div class="entry-date tw-meta">
                            <span>{{ page.subtitle }}</span>
                        </div>

                        <!-- Blog Content Start -->
                        <div class="post-article">

                            <!-- Title Image Start -->
                            <div class="entry-media uk-padding-small">
                                <div class="tw-thumbnail" data-uk-lightbox>
                                    <img src="{{ page.header-img }}" alt="" />
                                    <div class="image-overlay">
                                        <a href="{{ page.header-img }}"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Title Image End -->

                            <!-- Scroll Spy TOC Start -->
                            <div class="toc">
                                <a href="#top">&#x1F446; 맨 위로</a>
                                {% include toc.html html=content %}
                            </div>
                            <!-- Scroll Spy TOC End -->

                            {{ content }}

                        </div>
                        <!-- Blog Content Start -->
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Pagination Start -->
<section class="uk-section uk-section-small">
    <div class="uk-container uk-container-small">
        <div class="tw-portfolio-nav uk-flex uk-flex-between uk-flex-middle">
            {% if page.prev-link != nil %}
            <div class="nav-prev tw-meta">
                <a href="{{ page.prev-link }}">
                    <i class="ion-ios-arrow-left"></i>
                    <span>Prev</span>
                </a>
            </div>
            {% else %}
            <div class="nav-prev tw-meta" style="visibility: hidden">
                <a href="#">
                    <i class="ion-ios-arrow-left"></i>
                    <span>Prev</span>
                </a>
            </div>
            {% endif %}
            <div class="nav-link">
                <a href="{{ '/blog' | prepend: site.baseurl }}">
                    <i class="ion-grid"></i>
                </a>
            </div>
            {% if page.next-link != nil %}
            <div class="nav-next tw-meta">
                <a href="{{ page.next-link }}">
                    <span>Next</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            {% else %}
            <div class="nav-next tw-meta" style="visibility: hidden">
                <a href="#">
                    <span>Next</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Pagination End -->


<script>
    function getTOCNodes(master) {
        var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
        var tocNodes = nodes.filter(function(elem) {
            return elem.tagName == "A";
        });
        return tocNodes;
    }
    function getHeaderNodes(master) {
        var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
        var headerNodes = nodes.filter(function(elem) {
            return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3";
        });
        return headerNodes;
    }
  
    var title = document.getElementsByClassName("post-title")[0];
    var titleY = window.pageYOffset + title.getBoundingClientRect().top;
    
    var article = document.getElementsByClassName("post-article")[0];
    var articleY = window.pageYOffset + article.getBoundingClientRect().top;
  
    var toc = document.getElementsByClassName("toc")[0];
  
    var headerNodes = getHeaderNodes(article);
    var tocNodes = getTOCNodes(toc);
  
    var before = undefined;
  
    document.addEventListener('scroll', function(e) {
        if (window.scrollY >= articleY - 60) {
            toc.style.cssText = "position: fixed; top: 60px;";
        }
        else {
            toc.style.cssText = "";
        }
    
        var current = headerNodes.filter(function(header) {
            var headerY = window.pageYOffset + header.getBoundingClientRect().top;
            return window.scrollY >= headerY - 200;
        });
  
        if (current.length > 0) {
            current = current[current.length-1];
    
            var currentA = tocNodes.filter(function(tocNode) {
                return tocNode.innerHTML == current.innerHTML;
            })
            
            currentA = currentA[0];
            if (currentA) {
                if (before == undefined) before = currentA;
        
                if (before != currentA) {
                    before.classList.remove("toc-active");
                    before = currentA;
                }
        
                currentA.classList.add("toc-active");
            }
            else {
                if (before) 
                    before.classList.remove("toc-active");
            }
        }
        else {
            if (before) 
                before.classList.remove("toc-active");
        }
    }, false);
</script>
