<footer class="uk-section uk-padding-remove-vertical uk-light">
    <div class="footer-area footer-small">
        <div class="uk-container">
            <div class="uk-flex-middle uk-child-width-1-3" data-uk-grid>
                <div class="tw-element tw-socials tw-no-bg with-hover">
                    <a href="https://github.com/llb1026" target="_blank"><i class="uk-icon-button tw-margin fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/jiyun-lee-b19a02153" target="_blank"><i class="uk-icon-button tw-margin fa fa-linkedin"></i></a>
                </div>
                <div class="uk-text-center copyright">
                    © JIYUN.ME
                </div>
                <div class="uk-text-right">
                    <a href="" data-uk-scroll>Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
