<style>
    .img-src {
        position: fixed;
        background-position: center;
        -webkit-background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .blurred-img { 
        opacity: 0; 
    }
    .scroll-section {
        height: 10vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        animation: fadeIn 3s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    button.scroll_down {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 50px;
        width: 30px;
        bottom: 60px;
        background-color: transparent;
        border: 2px solid #333;
        border-radius: 20px;
        cursor: pointer;
        outline: none;
    }
    button.scroll_down:before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: scroll_down_btn-animation 2s infinite;
        animation: scroll_down_btn-animation 2s infinite;
        box-sizing: border-box;
    }

    @keyframes scroll_down_btn-animation {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes scroll_down_btn-animation {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
</style>

<!-- Main Header Start -->
<div class="main-container">

    <div class="img-src" style="background-image:url({{ page.header-img }})"></div>
    <div class="img-src blur" style="background-image:url({{ page.header-blur-img }})"></div>

    <section class="tw-slider tw-slider-fullscreen uk-light" data-uk-height-viewport="offset-top: true">
        <div class="owl-theme">
            <div class="slider-item" data-overlay="0.4" data-uk-height-viewport="offset-top: true">
                <div class="slider-content">
                    <div class="tw-element uk-text-center tw-heading full" data-uk-scrollspy="target: > *; cls:uk-animation-slide-bottom-medium; delay: 400;">
                        <h4 class="tw-sub-title"> </h4>
                        <div class="typing-animation">
                            <span id="quote" style="font-family: 'Inconsolata', monospace; font-size: 48px; color: #333"></span>
                        </div>
                        <div class="scroll-section">
                            <button type="button" class="scroll_down" id="scroll_down"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include work-list.html %}
    {% include activity-list.html %}
    {% include skill-list.html %}

</div>
<script>
(function() {
    'use strict';
    var btnScrollDown = document.querySelector('#scroll_down');
    function scrollDown() {
        var windowCoords = document.documentElement.clientHeight;
        (function scroll() {
        if (window.pageYOffset < windowCoords) {
            window.scrollBy(0, 10);
            setTimeout(scroll, 0);
        }
        if (window.pageYOffset > windowCoords) {
            window.scrollTo(0, windowCoords);
        }
        })();
    }
    btnScrollDown.addEventListener('click', scrollDown);
})();
</script>
<!-- Main Header End -->