<br /><br />
<section class="uk-section uk-section-normal">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-medium" data-uk-grid>
            <div class="uk-width-1-4@l">
                <div class="portfolio-single-title heading-title-section">
                    <h1 class="portfolio-title post-title title">{{ page.title }}</h1>
                    <div class="portfolio-cats tw-meta">{{ page.subtitle }}</div>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="portfolio-single-content">
                    <h3 class="portfolio-subtitle">Description</h3>
                    <p>{{ page.description }}</p>
                </div>
            </div>
            <div class="uk-width-1-3@m">
                <ul class="portfolio-single-meta">
                    <li>
                        <h3 class="portfolio-subtitle">Type</h3>
                        <div class="portfolio-meta">{{ page.type }}</div>
                    </li>
                    <li>
                        <h3 class="portfolio-subtitle">Team</h3>
                        <div class="portfolio-meta">{{ page.team }}</div>
                    </li>
                    <li>
                        <h3 class="portfolio-subtitle">Date</h3>
                        <div class="portfolio-meta">{{ page.date }}</div>
                    </li>
                    <li>
                        <h3 class="portfolio-subtitle">Tools</h3>
                        <div class="portfolio-meta">{{ page.tools }}</div>
                    </li>
                </ul>
                <a href={{ page.link }} target="_blank" class="uk-button uk-button-radius uk-button-default portfolio-btn tw-hover" style="word-wrap: break-word"><span class="tw-hover-inner"><span>{{ page.link-name }}</span><i class="ion-ios-arrow-thin-right"></i></span></a>
            </div>
        </div>
    </div>
</section>

<section class="uk-section uk-padding-remove">
    <div class="uk-container uk-container-small">
        <div class="tw-gallery-carousel uk-dark">
            {{ content }}
        </div>
    </div>
</section>

<!-- Pagination Start -->
<section class="uk-section uk-section-small">
    <div class="uk-container uk-container-small">
        <div class="tw-portfolio-nav uk-flex uk-flex-between uk-flex-middle">
            {% if page.prev-link != nil %}
            <div class="nav-prev tw-meta">
                <a href="{{ page.prev-link }}">
                    <i class="ion-ios-arrow-left"></i>
                    <span>Prev</span>
                </a>
            </div>
            {% else %}
            <div class="nav-prev tw-meta" style="visibility: hidden">
                <a href="#">
                    <i class="ion-ios-arrow-left"></i>
                    <span>Prev</span>
                </a>
            </div>
            {% endif %}
            <div class="nav-link">
                <a href="{{ '/projects' | prepend: site.baseurl }}">
                    <i class="ion-grid"></i>
                </a>
            </div>
            {% if page.next-link != nil %}
            <div class="nav-next tw-meta">
                <a href="{{ page.next-link }}">
                    <span>Next</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            {% else %}
            <div class="nav-next tw-meta" style="visibility: hidden">
                <a href="#">
                    <span>Next</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Pagination End -->