<div class="loading-animation">
<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've worked for...
        </p>
    </div>
    <ul>

        {% include work-list.html %}

    </ul>

</section>

<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've participated in...
        </p>
    </div>
    <ul>

        {% include activity-list.html %}

    </ul>

</section>


<section class="skill">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F4AA;
            </span>
            &nbsp; Skill Sets
        </p>
    </div>    
    <ul>
        {% for skill-set in site.data.skill-set %}
            <li class="skill_name">
                {{ skill-set.name }}
            </li>
        {% endfor %}
    </ul>
</section>
</div>    